{# {%extends 'index.njk'%} #}
{# {%block content%}
<div> this is content block</div> #}

{%block left%}
<div> this is left block</div>
{%endblock%}

{%block right%}
<div> this is right block</div>
{%endblock%}

{# {%endblock%} #}
