<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width'>
    <title>{{ title }}</title>
    {# <link rel='stylesheet', href='/css/style.css'> #}
</head>
<body>
{% block style %}{% endblock %}
{% block content %}{% endblock %}
</body>
{% block jquery %}{% endblock %}
{% block script %}{% endblock %}

</html>
