/* 顶部标题 */
.title{
    margin-top: 150px;
    text-align: center;
    font-family:'Fira Sans',sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: rgb(103, 105, 108);
}
/* 顶部简介内容 */
.content{
    margin-top: 100px;
    color: rgb(103, 105, 108);
    text-align: center;
    font-size: 20px;
    font-weight: 300;
}
/* 中间包含三列的主体部分 */
.main{
    margin: 0 auto;
    width: 2231px;
    height: 1800px;
}
/* 横线 */
.solid{
    box-sizing: border-box;
    width: 50px;
    margin: 52px auto 80px auto;
    border-bottom: 5px solid rgba(214, 123, 19, 0.507);

}
/* 图片大小 */

.container{
    width: 700px;
    height: 467px;
    margin:auto;
    overflow: hidden;
}
.child{
    width: 700px;
    height: 467px;
}
.child:hover{
    transition: all 2s;
    transform: scale(2.5);
}




/* 左列 */
.left{
    display: inline-block;
    margin-left: 0;
    box-sizing: content-box;
    width: 700px;
}
/* 左列标题 */
.title1{
    font-size: 20px;
    color: rgb(103, 105, 108);
    font-weight: 600;
    margin-top: 58px;
    /* text-align: center; */
}
/* posted in */
.post{
    margin-top: 37px;
    font-size: 16px;
    font-weight: 300;
    color: rgb(103, 105, 108);
}
/* 内容 */
.content1{
    margin-top: 53px;
    font-size: 16px;
    font-weight: 300;
    color: rgb(103, 105, 108);
}
/* read more */
.readmore{
    font-size: 20px;
    font-weight: 300;
    color: #949494;
    margin-top: 46px;
}
/* 右列 */
.right{
    display: inline-block;
    margin-left: 60px;
    margin-right: 0;
    box-sizing: content-box;
    width: 700px;
    /* float: right; */
}
/* 中间 */
.mid{
    display: inline-block;
    margin-left: 60px;
    box-sizing: content-box;
    width: 700px;
}